body{
    background-color: gray;
}
.firstDiv{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto~;
}
.img2{
    width: 60px;
}
.leftmenu{
  width: 19vw;  
  
}

.content{
    display: flex;
}
.video{
    width: 25vw;
    height: 15vw;
  
}
.content2{
    display: flex;
}

.video2{
    width: 25vw;
    height: 15vw;
  
}
.footer{
    height: 55px;
    background-color: black;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding-top: 1vw;
    color: gray;
    text-align: center;
}
