body{
    background-color: gray;
}
.firstDiv{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto~;
}
.img2{
    width: 60px;
}
.leftmenu{
  width: 19vw;  
  
}

.content{
    display: flex;
}
.video{
    width: 25vw;
    height: 15vw;
  ;
}