body{
    background-color: gray;
}
.firstDiv{
    display: flex;
   justify-content: space-evenly;
   
}
.img1{
    height: 3vw;
    width: 4vw;
}
.img2{
    height: 3vw;
    width: 4vw;
}
.img3{
    height: 3vw;
    width: 50vw;
}
.img4{
    height: 3vw;
    width: 18vw;
}

.leftmenu{
  width: 19vw;  
  
}

.content{
    display: flex;
}
.video{
    width: 25vw;
    height: 15vw;
  
}
.content2{
    display: flex;
}

.video2{
    width: 25vw;
    height: 15vw;
  
}
.footer{
    height: 55px;
    background-color: black;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding-top: 1vw;
    color: white;
    text-align: center;
}
